[submodule "./src/vps"]
	path = ./src/vps
	url = https://github.com/neoricalex/vps.git
[submodule "./src/log"]
	path = ./src/log
	url = https://github.com/neoricalex/log.git
[submodule "/home/neo/Público/src/vps"]
	path = /home/neo/Público/src/vps
	url = https://github.com/neoricalex/vps.git
[submodule "/home/neo/Público/src/log"]
	path = /home/neo/Público/src/log
	url = https://github.com/neoricalex/log.git
