[submodule "src/vps"]
	path = src/vps
	url = https://github.com/neoricalex/vps.git
[submodule "src/log"]
	path = src/log
	url = https://github.com/neoricalex/log.git
[submodule "src/vps/nfdos/desktop/app/backend"]
	path = src/log
	url = https://github.com/neoricalex/backend.git
