.DS_Store
.circleci
.vagrant
*.swp
*.tar.gz
*.log

docker/diversos
docker/duckdns
docker/email
docker/gitlab
docker/kubernetes
docker/nextcloud
docker/nginx-proxy
docker/swarm
docker/wireguard
docker/wordpress

nfdos/core/image
nfdos/core/rootfs
nfdos/core/nfdos.img
nfdos/core/nfdos.iso

nfdos/desktop/packer_cache
nfdos/desktop/vagrant

vagrant-libs/base.box
vagrant-libs/ssh/segura
